<script type="text/javascript">
  window.zeldaIcon = "<%= image_path('zelda_landing.jpg') %>"
  <% if logged_in? %>

    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user).html_safe %>

  <% end %>
</script>

<main id="root"></main>
