/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*Full Background*/

html {
  background: #eeeeee;
}

body {
  width: 1250px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  background: #ffffff;
}

h1 {
  text-transform: capitalize;
}

input[type="text"] {
  border: grey 1px solid;
}

input[type="password"] {
  border: grey 1px solid;
}

/*Auth Stuff*/

.background {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1000;
}

.hide {
  display: none;
}


.modal_form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 520px;
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -260px;
  margin-left: -200px;
  z-index: 9999;
  background: white;
  transition: top .5s;
}

.none {
  top: -150%;
}


/*Stream*/

.stream {
  display: flex;
  height: 100%;
  width: 100%;
}

.stream_container {
  width: 69%;
}

.stream_container h1 {
  border-bottom: 1px solid #e6e6e6;
  margin-left: 30px;
  margin-top: 30px;
  padding-bottom: 10px;
  font-size: 30px;
}

.stream_container h2 {
  font-size: 20px;
  margin: 30px;
  color: #999;
}

.stream_sidebar {
  border-left: 1px solid #e6e6e6;
  margin-left: 40px;
  width: 400px;
}

.artists_to_follow {
  padding-left: 20px;
  margin-top: 35px;
  margin-right: 20px;
}

.artists_to_follow h1 {
  display: flex;
  align-items: center;
  color: #999;
  font-size: 14px;
  padding-bottom: 5px;
  border-bottom: 1px solid #f2f2f2;
}

.artists_to_follow h1 i {
  padding-right: 5px;
}

.artists_to_follow ul {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
}

.artists_to_follow li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding-top: 20px;
}

.artist_info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.artist_info h2 {
  font-size: 15px;
  padding-left: 10px;
}
.artist_info img {
  border-radius: 100%;
  width: 70px;
  height: 70px;
}

.artist_link {
  padding: 2px 5px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px rgb(229, 229, 229) solid;
  background-color: white;
  color: #333;
}

.artist_link:hover {
  border-color: grey;
}
