/* AudioPlayer */

.audio_player {
  display: flex;
  position: fixed;
  box-sizing: border-box;
  width: 100vw;
  padding: 0 12%;
  border-top: rgba(0, 0, 0, 0.14902) 1px solid;
  background: #f2f2f2;
  justify-content: space-around;
  align-items: center;
  height: 0px;
  bottom: 0;
  left: 0;
  transition: height .3s;
  z-index: 1000;
}

.shown {
  height: 47px;
}

.tracking_buttons {
  display: flex;
  height: 90%;
  flex-direction: row;
  align-items: center;
}

.tracking_buttons .play_button {
  display: flex;
  height: 100%;
  align-items: center;
}

.tracking_buttons img {
  height: 0;
}

.shown .tracking_buttons img {
  height: 30px;
  width: 30px;
}


.audio_player_info {
  display: flex;
  height: 90%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.audio_player_credits {
  padding-left: 10px;
}

.audio_player_credits h1 {
  white-space: nowrap;
  color: #999;
  font-size: 12px;
}

.audio_player_credits h2 {
  white-space: nowrap;
  color: #666;
  font-size: 14px;
}

.audio_player_info img {
  height: 95%;
  width: 40px;
}

.audio_progress_bar {
  height: 0;
}

.shown .audio_progress_bar {
  display: flex;
  width: 800px;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.audio_progress_bar progress {
  width: 90%;
  margin: 0 10px;
}
