.edit_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.edit_form h1 {
 font-size: 40px;
 margin-bottom: 40px;
}

.edit_form input {
  margin-bottom: 20px;
  height: 40px;
  width: 60%;
}

.edit_form input[type="submit"] {
  display: flex;
  justify-content: center;
}
