/*Landing Page*/

.landing_page {
  background: white;
  position: relative;
}

.splash_image {
  display: flex;
  flex-direction: row;
  height: 450px;
}

.splash_image img {
  width: 100%;
  height: 100%;
  border-top: 4px #FF5500 solid;
}

.landing_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: absolute;
}


.landing_nav h1 {
  margin: 25px 40px;
  color: white;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
}

.landing_nav_buttons {
  display: flex;
  flex-direction: row;
}

.landing_nav button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin: 20px 10px;
  width: 43px;
  padding: 0 15px;
  height: 28px;
  color: white;
  border:  white 1px solid;
  border-radius: 5px;
  z-index: 2;
}


.landing_nav button:last-child {
  width: 95px;
  padding: 0 16px;
  background: #FF5500;
  border: #FF5500 1px solid;
  color: white;
  margin-right: 20px;

}

.landing_search_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.landing_search {
  display: flex;
  width: 100%;
  height: 46px;
  width: 584px;
  justify-content: center;
  align-items: center;
}

/*Song Tile*/

.song_tile_index_header {
  display: flex;
  justify-content: center;
}

.song_tile_index_header h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.song_tile_index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  margin-bottom: 50px;
}

.song_tile_container {
  box-sizing: border-box;
  position: relative;
  width: 16.666%;
  padding-right: 20px;
  margin-bottom: 50px;
  /*border: #cccccc solid 1px;*/
}

.song_tile_container:before {
    display: block;
    padding-top: 100%; /* initial ratio of 1:1*/
}

.song_tile {
  position: relative;
  z-index: 10;
}

.song_tile img {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.song_tile:hover {
  cursor: pointer;
  z-index: 1;
}

.song_tile_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top:4px;
}

.song_tile_info h4 {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.song_tile_info h5 {
  margin: 0;
  font-size: 13px;
  color: #999;
}

.song_tile_play_button {
  position: absolute;
  top: 0;
  margin-left:25%;
  margin-top: 25%;
  z-index: 3;
  opacity: 0.00;
  transition: opacity .1s;
}

.song_tile_play_button:hover {
  cursor: pointer;
  z-index: 12;
  opacity: 1.00;
}


.song_tile_play_button img {
  width: 80px;
  height: 80px;
}
