
/*Navbar*/

.navbar_container {
  width: 100%;
}

.navbar_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 100%;
  background: #333333;
  z-index: -1;

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 46px;
  width: 100%;
  background: #333333;
}

.navbar button:first-child {
  background-color: #ff4000;
}

.navbar button {
  display: flex;
  color: #CCCCC2;
  justify-content: center;
  width:20%;
}

.navbar button:hover {
  color: white;
}

.navbar .left_search {
  border-right: black 1px solid;
}

.navbar_search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar_search {
  width: 95%;
  height: 65%;
}
