
/*Navbar*/

.navbar_container {
  width: 100%;
}

.navbar_background {
  position: absolute;
  top: 0;
  left: 0;
  height: 46px;
  width: 100%;
  background: #333333;
  z-index: -1;
}

.navbar {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 46px;
  width: 100%;
  background: #333333;
}

.left_nav {
  display: flex;
  flex-direction: row;
  width: 20%;
}


.left_nav button {
  display: flex;
  border-right: black 1px solid;
  color: #CCCCC2;
  justify-content: center;
  width: 114px;
}

.left_nav button:first-child {
  background-color: #ff4000;
  width: 69px;
}

.navbar button:hover {
  color: white;
}

.navbar_search_container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navbar_search {
  width: 93%;
  height: 65%;
}

.right_nav {
  display: flex;
  color: #CCCCC2;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.right_nav img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.right_nav button:nth-child(3){
  padding-left: 10px;
  padding-right: 10px;
}

.right_nav button {
  display: flex;
  padding: 0 20px;
  padding-left: 10px;
  white-space: nowrap;
  justify-content: center;
}

.logged_out {
  padding-left: 20px;
}

.logged_out button {
  font-size: 13px;
  margin: 20px 10px;
  width: 43px;
  padding: 0 15px;
  height: 28px;
  color: white;
  border:  white 1px solid;
  border-radius: 5px;
  z-index: 2;
}

.logged_out button:last-child {
  margin-left: 20px;
  width: 95px;
  color: white;
  background: #FF5500;
  border: #FF5500 1px solid;
}
