
/*SongPage*/

.song_page_splash {
  display: flex;
  height: 380px;
  background: linear-gradient(135deg, #8d8284, #866774 );
  justify-content: space-between;
}


.song_page_header {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 15px;
  margin-top: 30px;
}

.song_page_header img {
  width: 80px;
  height: 80px;
  margin-left: 30px;
}

.song_page_header img:hover {
  cursor: pointer;
}

.song_page_info {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  width: 100%;
  justify-content: space-between;
}

.song_page_credits {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.song_page_credits span {
  background: #232528;
  padding: 5px;
}

.song_page_credits h1 {
  color: #ffffff;
  font-size: 30px;
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.song_page_credits h2 {
  color: #cccccc;
  font-size: 16px;
}

.song_page_additional_info h2 {
  background: #999;
  color: #fff;
  padding: 1px 7px;
  font-size: 17px;
  border-radius: 20px;
}

.song_image {
  display: flex;
  margin: 20px;
}

.song_image img {
  width: 340px;
  height: 340px;
}

.comments_section {
  height: 400px;
}

.comments_header {
  width: 100%;
}

.user_buttons {
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.current_user_buttons {
  display: flex;
  flex-direction: row;
}

.edit_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(229, 229, 229) solid;
  width: 51px;
  height: 20px;
  padding: 2px 6px;
  background-color: white;
  color: #333;
  margin: 10px;
  border-radius: 4px;
}

.delete_button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(229, 229, 229) solid;
  width: 51px;
  height: 20px;
  padding: 2px 6px;
  background-color: white;
  color: #333;
  margin: 10px;
  border-radius: 4px;
}

.page_like {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(229, 229, 229) solid;
  width: 51px;
  height: 20px;
  padding: 2px 8px;
  background-color: white;
  color: #333;
  margin: 10px;
  border-radius: 4px;
}

.page_like i {
  font-size: 14px;
  padding-right: 5px;
}

.liked {
  color: #f50;
  border-color: #f50;
}
