/*SongItem*/


.song_list_container {
  display: flex;
  flex-direction: column;
  padding-left: 35px;

}

.song_item {
  display: flex;
  box-sizing: none;
  flex-direction: column;
  width: 100%;
  height: 210px;
  margin-bottom: 60px;
}

.song_item_date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 5px;
  padding-bottom: 15px;
  padding-right: 5px;
}

.song_item_date h4 {
  color: #999;
  font-size: 12px;
  padding-left: 8px;
  margin: 0px;
}

.song_date_link {
  color: black;
}

.song_item_date img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

}

.song_item_body {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}

.song_item_image {
  padding: 0 5px;
}

.song_item_image img {
  width: 160px;
  height: 160px;
}

.song_item_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 20px;
}

.song_item_image img:hover {
  cursor: pointer;
}

.song_item_details {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
}


.song_item_details img {
  width: 50px;
  height: 50px;
}

.song_header_info {
  display: flex;
  align-items: center;
  padding-left: 10px;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  color: #aaaaaa;
}

.song_header_credits {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.song_header_credits div:last-child {
  font-size: 18px;
  color: #333333;
}

.song_header_genre h5 {
  border-radius: 20px;
  padding: 1px 7px;
  background-color: #999;
  color: #fff;
}

.song_item_waveform {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

.song_item_footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  color: grey;
}

.song_item_footer h5 {
  font-size: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.song_item_footer h5 i {
  padding-top: 1px;
  font-size: 18px;
  padding-right: 4px;
}
