.user_page_container {
  display: flex;
  flex-direction: column;
}

.user_splash_container {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  height: 260px;
  padding: 30px;
  background: linear-gradient(135deg, #866774, #8d8284);
}

.user_splash {
  display: flex;
  flex-direction: row;
}

.user_splash_image {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.user_splash_details span {
  background: #1b1518;
  padding: 5px 8px;
}

.user_splash_details h2 {
  font-size: 18px;
  margin-top: 15px;
}

.user_splash_details {
  color: #ffffff;
  font-size: 25px;
  margin-left: 30px;
  overflow: hidden;
  white-space: nowrap;
}

.user_info_container {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.user_info_header {
  display: flex;
  justify-content: space-between;
  width: 97%;
  height: 33px;
  padding: 15px 0;
  border-bottom: 1px #f2f2f2 solid;
}

.user_info_header h1 {
  display: flex;
  font-size: 20px;
  align-items: center;
  padding-bottom: 5px;
}

.user_info_header button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px rgb(229, 229, 229) solid;
  padding: 2px 10px;
  background-color: white;
  color: #333;
}

.user_info_section {
  display: flex;
  flex-direction: row;
}

.user_songs {
  width: 70%;
  padding-top: 20px;
  padding-right: 20px;
  border-right: 1px #f2f2f2 solid;
}

.user_stats {
  font-size: 20px;
  padding-left: 20px;
  padding-top: 20px;
}
